{% extends "base.html" %}}

{% block title %}Login{% endblock %}}

{% block content %}

<div class="wrapper">
    <div class="alert-info" style="width: 320px;"><i>The authentication protocol used will be E-CHAP with {{ echap_N }} iterations.</i></div>
    {% if error!=None %}
    <div class="alert-danger" style="width: 320px;">{{ error }}</div>
    {% endif %}
    {% if accounts|length < 1 %}
    <div id="all_accounts" class="accounts login" style="display: none;">
    {% else %}
    <div id="all_accounts" class="accounts login">
    {% endif %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Username  <i style="font-size:small">for {{ service }}</i></th>
                </tr>
            </thead>
            <tbody>
                {% for a in accounts %}
                <tr>
                    <td>{{ a['username'] }}</td>
                    <td>
                        <a href="/echap_auth?service={{ service }}&amp;reg_endpoint={{ reg_endpoint }}&amp;username={{a['username']}}"><button type="button" class="btn btn-success">Login</button></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="button" class="login_button" onclick="add_account()">
            <span class="state">Add Account</span>
        </button>
    </div>
    {% if accounts|length < 1 %}
    <div class="heading" id="new_account">
    {% else %}
    <div class="heading" id="new_account" style="display: none;">
    {% endif %}
    <form action="#" method="post" class="login">
            <p class="title">Register <i style="font-size:small">for {{ service }}</i></p>
            <div class="input-group input-group-lg">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input type="text" class="form-control" name="username" placeholder="Username or email" autofocus>
            </div>
        
            <div class="input-group input-group-lg">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input type="password" class="form-control" name="password" placeholder="Password">
            </div>

            <div>
                <button type="submit" class="login_button" name="register" class="float">
                    <span class="state">Register</span>
                </button>
            </div>

            <input name="type" value="register" hidden/>

            <div>
                <button type="button" class="register_button" onclick="add_account()">
                    <span class="state">Back</span>
                </button>
            </div>
        </form>
    </div>
    <a href="/logout"><button class="logout-button"></button></a>
</div>

<script>
    function add_account() {
      var x = document.getElementById("new_account");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
      var x = document.getElementById("all_accounts");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }
</script>

{% endblock %}